################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.terraform
/.vs
terraform.tfstate
terraform.tfstate.backup
.terraform.lock.hcl